<div class="row">
    <div class="col-sm-6 col-sm-offset-3">
        <h1>Login to FastTribe</h1>
        <div class="alert alert-danger fade" ng-show="message">{{ message }}</div>
        <div class="well well-lg">
            <form ng-submit="login()">
                <div class="form-group">
                    <label>Email</label>
                    <input type="text" class="form-control" ng-model="user.email" autofocus>
                </div>
                <div class="form-group">
                    <label>Password</label>
                    <input type="password" class="form-control" ng-model="user.password">
                </div>
                <button type="submit" class="btn btn-primary"><i class="fa fa-key"></i> Login</button>
            </form>
        </div>
    </div>
</div>
