<h1>{{ page }}</h1>
<div class="alert alert-danger fade" ng-show="message">{{ message }}</div>
<div class="fade" ng-show="nuggets">
    <div class="panel panel-default">
        <div class="table-responsive">
            <table class="table table-striped table-hover">
                <thead>
                    <tr>
                        <th>Title</th>
                        <th>Status</th>
                        <th>Created</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="nugget in nuggets">
                        <td><a href="#/nuggets/{{ nugget.id }}">{{ nugget.title }}</a></td>
                        <td>{{ nugget.status }}</td>
                        <td>{{ nugget.created_at }}</td>
                        <td class="text-right"><a href="#/nuggets/{{ nugget.id }}/edit" title="Edit user"><i class="fa fa-edit"></i></a> <a href="" ng-click="remove(nugget.id)" title="Remove user"><i class="fa fa-trash-o"></i></a></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <p class="text-muted text-right">{{ nuggets.length }} results</p>
</div>
